<!DOCTYPE html>
<html>
<head>
    <title>Video Selection</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'video_selection.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="console-container">
        <h2 id="part-details"></h2>
        <video id="video-player" controls>
            <!-- The video source will be inserted here dynamically -->
        </video>
        <div id="controls">
            <button id="prev">Go Back</button>
            <button id="dislike">Dislike</button>
            <button id="like">Like</button>
            <button id="next">Next</button>
            <button id="undo">Undo</button>
            <button id="proceed" disabled>Proceed to Next Part</button>
        </div>
    </div>
    <div id="parts-left">
        <!-- Remaining parts will be displayed here -->
    </div>

    <script>
        var videos = JSON.parse('{{ videos_json|escapejs }}');
        var currentIndex = 0;
        var dislikedVideos = [];

        function updateVideoPlayer() {
            // Update the video player with the current video
            $("#video-player").attr("src", videos[currentIndex].url);
            // Update the part details
            $("#part-details").text(videos[currentIndex].keyword);
            // Enable/disable the "proceed" button
            checkProceedButton();
        }

        function checkProceedButton() {
            // If enough videos have been liked, enable the "proceed" button
            if (getLikedVideosCount() >= 3) {
                $("#proceed").prop("disabled", false);
            } else {
                $("#proceed").prop("disabled", true);
            }
        }

        function getLikedVideosCount() {
            // Count the number of liked videos
            var count = 0;
            for (var i = 0; i < videos.length; i++) {
                if (videos[i].liked) {
                    count++;
                }
            }
            return count;
        }

        $(document).ready(function() {
            updateVideoPlayer();

            $("#next").click(function() {
                currentIndex++;
                if (currentIndex >= videos.length) {
                    currentIndex = 0;
                }
                updateVideoPlayer();
            });

            $("#prev").click(function() {
                currentIndex--;
                if (currentIndex < 0) {
                    currentIndex = videos.length - 1;
                }
                updateVideoPlayer();
            });

            $("#dislike").click(function() {
                dislikedVideos.push(videos[currentIndex]);
                videos.splice(currentIndex, 1);  // Remove the disliked video
                if (videos.length === 0) {
                    // No more videos left
                    alert("No more videos left");
                } else {
                    updateVideoPlayer();
                }
            });

            $("#like").click(function() {
                // Mark the video as liked
                videos[currentIndex].liked = true;
                // Proceed to the next video
                $("#next").click();
            });

            $("#undo").click(function() {
                if (dislikedVideos.length > 0) {
                    videos.splice(currentIndex, 0, dislikedVideos.pop());
                    updateVideoPlayer();
                }
            });

            $("#proceed").click(function() {
                // Proceed to the next part
            });
        });
    </script>
</body>
</html>
